.heroSports {
  background: url("/assets/heroSports.png") no-repeat center center/cover;
  width: 100%;
  @apply lg:h-[93vh];
}
.ImageContainer {
  position: relative;
}

.ImageContainer .Image {
  position: relative;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.ImageContainer .Image:hover {
  transform: scale(1.1);
  z-index: 50;
}

.ImageContainer .Image:hover::before {
  content: attr(title);
  display: block;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 20px;
  white-space: nowrap;
}
